<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="${concert.getName()}"></title>
</head>
<body>
<h2 th:text="'Edycja: ' + ${concert.getName()}"></h2>
<select name="selection" id="selection" form="form">
    <option th:each="hall: ${halls}" th:value="${hall.getId()}" th:text="${hall.getName()}" th:selected="${concert.getHall().getId() == hall.getId()}"></option>
</select>
<form th:action="@{/admin/concert/edit/{id}(id = ${concert.getId()})}" id="form" method="post">
    <input type="datetime-local" th:value="${concert.getDate().toString()}" th:field="${concert.date}">
    <input placeholder="Nazwa" type="text" th:value="${concert.getName()}" th:field="${concert.name}">
    <input placeholder="Opis" th:value="${concert.getDescription()}" th:field="${concert.description}">
    <input placeholder="Typ" th:value="${concert.getType()} "type="text" th:field="${concert.type}">
    <input type="number" th:value="${concert.getDuration()}" th:field="${concert.duration}">
    <input type="submit" value="Zapisz zmiany">
</form>
<h3>Wykonawcy</h3>
<p th:if="${concert.getMusicians().empty}">Żaden muzyk nie został jeszcze dodany do wydarzenia</p>
<table th:if="${!concert.getMusicians().empty}">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Specjalizacja</th>
        <th>Działania</th>
    </tr>
    <tr th:each="musician: ${concert.getMusicians()}">
        <td th:text="${musician.getUser().getFirstName()}"></td>
        <td th:text="${musician.getUser().getLastName()}"></td>
        <td th:text="${musician.getSpecialization()}"></td>
        <td>
            <form th:action="@{/admin/concert/{id}/remove/{musicianId}(id = ${concert.getId()}, musicianId = ${musician.getId()})}" method="post">
                <input type="submit" value="Usuń">
            </form>
        </td>
    </tr>
</table>

<h3>Dodaj</h3>
<table th:if="${!musicians.empty}">
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Specjalizacja</th>
        <th>Działania</th>
    </tr>
    <tr th:each="musician: ${musicians}">
        <td th:text="${musician.getUser().getFirstName()}"></td>
        <td th:text="${musician.getUser().getLastName()}"></td>
        <td th:text="${musician.getSpecialization()}"></td>
        <td>
            <form th:action="@{/admin/concert/{id}/add/{musicianId}(id = ${concert.getId()}, musicianId = ${musician.getId()})}" method="post">
                <div th:if="${!musician.isAvailable(concert.getDate())}">
                    <small th:if="${musician.getGender().equals('kobieta')}">Zajęta!</small>
                    <small th:if="${musician.getGender().equals('mężczyzna')}">Zajęty!</small>
                </div>
                <input th:if="${musician.isAvailable(concert.getDate())}"type="submit" value="Add">
            </form>
        </td>
    </tr>
</table>

<h3>Usuń koncert</h3>
<form th:action="@{/admin/concert/delete/{id}(id = ${concert.getId()})}" method="post">
    <input type="submit" value="Usuń">
</form>

</body>
</html>