<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Stwórz koncert</title>
</head>
<body>

<select name="selection" id="selection" form="form">
    <option th:each="hall: ${halls}" th:value="${hall.getId()}" th:text="${hall.getName()}"></option>
</select>
<form action="#" th:action="@{/admin/concert/create}"id="form" method="post">
<!--  <input type="number" th:field="${concert.id}">-->
  <input type="text" placeholder="Nazwa" th:field="${concert.name}">
  <input type="datetime-local" th:field="${concert.date}">
  <input type="text" placeholder="Typ" th:field="${concert.type}">
  <input type="text" placeholder="Opis" th:field="${concert.description}">
  <input type="number" th:field="${concert.duration}">
  <input type="submit" value="Stwórz koncert!">
</form>



</body>

</html>