@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.dialog{
    font-family: Roboto;
    margin: auto;
    width: 80%;
    height: fit-content;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 10px;
}

.error{
    color: rgb(103, 27, 33);
    border: 1px solid rgb(244, 191, 196);
    background-color: rgb(247, 209, 213);
}

.success{
    color: rgb(63, 122, 85);
    border: 1px solid rgb(187, 227, 197);
    background-color: rgb(206, 235, 214);
}

.warn{
    color: rgb(146, 119, 56);
    border: 1px solid rgb(255, 237, 180);
    background-color: rgb(255, 242, 200);
}

