<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 5px;
        }
    </style>
</head>
<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin">Panel administratora</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Powrót do strony głównej</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/hire">Zatrudnij pracownika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/concert/create">Stwórz koncert</a>
                </li>
            </ul>
        </div>
    </nav>
    <h3>Muzycy</h3>
    <table class="table" th:if="${!musicians.empty}">
        <tr>
            <th>Email</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Płeć</th>
            <th>Numer telefonu</th>
            <th>Specjalizacja</th>
            <th>Wynagrodzenie</th>
            <th>Działania</th>
        </tr>

        <tr th:each="musician: ${musicians}">
            <td th:text="${musician.getUser().getEmail()}" />
            <td th:text="${musician.getUser().getFirstName()}" />
            <td th:text="${musician.getUser().getLastName()}" />
            <td th:text="${musician.getUser().getBirthdate()}" />
            <td th:text="${musician.getGender()}" />
            <td th:text="${musician.getUser().getPhoneNumber()}" />
            <td th:text="${musician.getSpecialization()}" />
            <td th:text="${musician.getSalary().toString()}"></td>
            <td><a th:href="@{/musician/{id}(id = ${musician.getId()})}">Profil</a></td>
<!--            <td> <a th:href="@{/admin/addtoconcert/{id}(id=${musician.getId()})}">Przypisz do koncertu</a></td>-->
        </tr>
<!--        <a th:href="@{/concert/{id}/tickets(id=${concert.getId()})}">Kup bilet</a>-->
    </table>

    <h3>Koncerty</h3>
    <table class="table" th:if="${!concerts.empty}">
        <tr>
            <th>Nazwa</th>
            <th>Data</th>
            <th>Typ</th>
            <th>Czas trwania</th>
            <th>Sala</th>
            <th>Działania</th>
        </tr>
        <tr th:each="concert: ${concerts}">
            <td th:text="${concert.getName()}"></td>
            <td th:text="${concert.getDateString()}"></td>
            <td th:text="${concert.getType()}"></td>
            <td th:text="${concert.getDuration().toString()}"></td>
            <td th:text="${concert.getHall().getName()}"></td>
            <td><a th:href="@{/admin/concert/{id}(id = ${concert.getId()})}">Więcej</a></td>
        </tr>
    </table>



</div>

</body>
</html>