<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>

<div>
    <a href="/admin/hire">Zatrudnij pracownika</a>
    <a href="/admin/concert/create">Stwórz koncert</a>
    <p th:if="${musicians.empty}"> Brak zatrudnionych pracowników.</p>
    <h3>Muzycy</h3>
    <table th:if="${!musicians.empty}">
        <tr>
            <th>Email</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Płeć</th>
            <th>Numer telefonu</th>
            <th>PESEL</th>
            <th>IBAN</th>
            <th>Wykształcenie</th>
            <th>Specjalizacja</th>
            <th>Działania</th>
        </tr>

        <tr th:each="musician: ${musicians}">
            <td th:text="${musician.getUser().getEmail()}" />
            <td th:text="${musician.getUser().getFirstName()}" />
            <td th:text="${musician.getUser().getLastName()}" />
            <td th:text="${musician.getUser().getBirthdate()}" />
            <td th:text="${musician.getGender()}" />
            <td th:text="${musician.getUser().getPhoneNumber()}" />
            <td th:text="${musician.getPesel()}" />
            <td th:text="${musician.getIban()}" />
            <td th:text="${musician.getEducation()}" />
            <td th:text="${musician.getSpecialization()}" />
            <td>brak</td>
<!--            <td> <a th:href="@{/admin/addtoconcert/{id}(id=${musician.getId()})}">Przypisz do koncertu</a></td>-->
        </tr>
<!--        <a th:href="@{/concert/{id}/tickets(id=${concert.getId()})}">Kup bilet</a>-->
    </table>

    <h3>Koncerty</h3>
    <table th:if="${!concerts.empty}">
        <tr>
            <th>Nazwa</th>
            <th>Data</th>
            <th>Typ</th>
            <th>Czas trwania</th>
            <th>Sala</th>
            <th>Działania</th>
        </tr>
        <tr th:each="concert: ${concerts}">
            <td th:text="${concert.getName()}"></td>
            <td th:text="${concert.getDateString()}"></td>
            <td th:text="${concert.getType()}"></td>
            <td th:text="${concert.getDuration().toString()}"></td>
            <td th:text="${concert.getHall().getName()}"></td>
            <td><a th:href="@{/admin/concert/{id}(id = ${concert.getId()})}">Więcej</a></td>
        </tr>
    </table>



</div>

</body>
</html>