<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Kup bilety</title>
</head>
<body>
<h1>Kup bilety:</h1>
<h2 th:text="${concert.getName()}"></h2>

<h3>Miejsca:</h3>
<tr th:each="ticket: ${tickets}">
    <div>
        <td th:text="'Miejsce: ' + ${ticket.getSeatId()}"></td>
        <td th:text="'Cena: ' + ${ticket.getPrice().toString()} + ' PLN'"></td>
        <td th:text="${ticket.getUser()} ? 'ZAJĘTE' : 'DOSTĘPNE'"></td>
        <form th:action="@{/ticket/buy/{id}(id=${ticket.getId()})}" method="post">
            <input type="submit" value="Kup!">
        </form>
    </div>
</tr>



</body>
</html>