<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="'Filharmonia Narodowa: ' + ${concert.getName()}"></title>
</head>
<body>
<div>
    <h1 th:text="${concert.getName()}"></h1>
    <h3 th:text="${concert.getDateString()}"></h3>
    <p th:text="${concert.getDescription()}"></p>
    <p th:text="'Typ: ' + ${concert.getType()}"></p>
    <p th:text="'Czas trwania: ' + ${concert.getDuration()}"></p>
    <p th:text="'Sala ' + ${concert.getHall().getName()}"></p>
    <h3>Wykonawcy: </h3>
    <tr th:each="musician: ${concert.getMusicians()}">
        <p th:text="${musician.getUser().getFirstName()} + ' ' + ${musician.getUser().getLastName()} + ' - ' + ${musician.getSpecialization()}"></p>
    </tr>
    <a th:href="@{/concert/{id}/tickets(id=${concert.getId()})}">Kup bilet</a>
</div>
</body>
</html>