<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="fragments/layout :: layout('Aktualności', ~{::link}, ~{::section})"
>
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <section>
        <script defer th:src="@{/js/waves.js}"></script>
        <div id="tab">
            <div id="concerts">
                <div class="concert" th:id="${concert.getName()}" th:each="concert: ${concerts.?[!getTickets().isEmpty()]}">
                        <p class="name" th:text="${concert.getName()}"></p>
                        <p th:text="${concert.getDateString()}"></p>
                        <a th:href="@{/concert/{id}(id = ${concert.getId()})}">Informacje</a>
                </div>
            </div>

            <div id="image">
                <canvas id="canvas"></canvas>
            </div>
        </div>


    </section>

</body>
</html>