<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="fragments/layout :: layout('Aktualności', ~{::link}, ~{::section})"
>
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <section>
        <div id="concert" th:each="concert: ${concerts}">
            <p th:text="${concert.getName()}"></p>
            <p th:text="${concert.getDateString()}"></p>
            <a th:href="@{/concert/{id}/tickets(id = ${concert.getId()})}">Kup bilet</a>
        </div>
    </section>

</body>
</html>