<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login!</h1>
<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <input type="text" th:field="*{email}">
    <input type="password" th:field="*{password}">
    <input type="submit" value="Log in">
</form>
</body>

</html>