<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="fragments/layout :: layout('Twoje bilety', ~{::link}, ~{::section})"
>
<head>
    <link rel="stylesheet" th:href="@{/css/ticket/tickets.css}">
</head>
<body>

<section>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" th:href="@{/css/dialog.css}">
    <script defer th:src="@{/js/ticket/tickets.js}"></script>
    <p class="dialog warn" style="width: fit-content; margin: 25px;" th:if="tickets.empty">Brak zakupionych biletów</p>
    <div id="ticketContainer">
        <div class="ticket" th:each="ticket: ${tickets}">
            <p class="bold" th:text="${ticket.getConcert().getName()}"></p>
            <p th:text="${ticket.getConcert().getDateString()}"></p>
            <p class="bold" th:text="${ticket.getSeatId()}"></p>
            <div id="actions">
                <a th:href="@{/concert/{id}(id = ${ticket.getConcert().getId()})}"><span class="material-symbols-outlined">info</span></a>
                <span th:id="${ticket.getId()}" class="material-symbols-outlined cancel">cancel</span>
            </div>
        </div>
    </div>

    <form id="cancelForm" name="cancel" method="post"></form>
</section>

</body>
</html>
